.more-btn {
  border-radius: 5px; 
  background-color: $border_color;
  margin-top: 30px;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 10px 20px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: $border_color_hover;
  }
}
