// Forms
.form {

  &-group {}

  &-group-clean {
    margin: 0;
  }

  &-control {

    &:disabled {
      cursor: not-allowed;
    }

    &:focus {}

    .error.has-error & {
      border-color: $red;
    }

    &[readonly] {}

    &.hasDatepicker {
      background-size: 32px 30px;
      background-position: 20px 50%;
      background-image: url("../media/app/datepicker.svg") !important;

      &::placeholder {}

    }

  }

  &-label {
    display: block;
    margin-bottom: .2rem;
  }

}

.form-error {

  &-wrapper {}

  &-message {
    color: $red;
  }

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: lightgrey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: lightgrey;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: lightgrey;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgrey;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgrey;
}

::placeholder { /* Most modern browsers support this now. */
  color: lightgrey;
}