.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  
  input {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
    font-weight: 300;
    font-size: 12px;
    width: 100%;
    margin: 0 15px;
    background-color: $border_color;
    padding: 15px 30px;
    border-radius: 5px;
  }
}