footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  min-height: 200px;
  margin-top: 20px;
  .copyright {
    font-size: 10px;
    color: white;
    text-align: center;
  }
}