header {
  height: 360px;
  background-color: #FEC107;
  background-image: url('../media/images/header.png');
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: 5% 60%;
}