// Main navigation

nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .desktop-nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 1180px;
    padding: 20px 0;  
    margin: 0;
    list-style: none;

    li {
      padding: 10px 25px;
      a {
        text-decoration: none;
      }
    }
    .selected {
      a {
        text-decoration: underline;
      }
    }
  }
  .mobile-nav {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  nav {
    .desktop-nav {
      display: none;
    }
    .mobile-nav {
      position: relative;
      display: flex;
      flex: 1;
      margin: 30px 15px;
      flex-direction: column;
      align-items: center; 

      .nav-label-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $border_color;
        border-radius: 5px;
        padding: 15px;
        height: 40px;
        width: 100%;
        max-width: 600px;
        .label {
          color: lightgrey;
          font-size: 12px;
        }
        .button {
          position: relative;
          width: 20px;
          height: 20px;

          .line {
            position: absolute;
            left: 9px;
            border: 1px solid white;
          }
          .line:nth-child(1) {
            top: 2px;
            transform: rotate(45deg);
            height: 16px;
          }
          .line:nth-child(2) {
            opacity: 0;
            top: 9px;
          }
          .line:nth-child(3) {
            bottom: 2px;
            transform: rotate(-45deg);
            height: 16px;
          }
        }
      }
      .mobile-nav-items {
        background-color: $border_color;
        border-radius: 5px;
        list-style:  none;
        padding: 10px 0;
        max-width: 400px;
        width: 100%;
        max-height: 500px;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
      
        li {
          width: 100%;
          padding: 10px;
          text-align: center;
      
          &:hover {
            background-color: rgba(0,0,0,0.2);
          }
          
          a {
            text-decoration: none;
            color: white;
            font-weight: 200;
            font-size: 12px;
          }
        }
        .selected {
          background-color: rgba(0,0,0,0.4);
        }
      }
    }

    .closed {
      .nav-label-button {
        .button {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .line {
            position: absolute;
            width: 20px;
            height: 2px;
            left: 0;
          }
          .line:nth-child(1) {
            transform: rotate(0);
            height: 2px;
          }
          .line:nth-child(2) {
            opacity: 1;
          }
          .line:nth-child(3) {
            transform: rotate(0);
            height: 2px;
          }
        }
      }
      .mobile-nav-items {
        max-height: 0;
        padding: 0;
      }
    }
  }
}