.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);

  .hide-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .inner {
    position: relative;
    overflow: scroll;
    height: 80vh;
    width: 60vw;
    transition: all 0.4s ease-in-out;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 52px 40px rgba(0,0,0,0.5);

    .pokemon-details {
      padding-bottom: 20px;

      h2 {
        padding: 20px 40px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .row {
        padding: 2px 40px;
        font-size: 14px;
      }
      .pokemon-image-text {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        color: $text-color;
        padding: 2px 60px;
        
        img {
          width: 100px;
          height: 100px;
        }
        .no-image {
          width: 140px;
          height: 100px;
        }

        label {
          min-width: 140px;
          font-weight: bold;
          font-size: 14px;
        }
        span {
          text-transform: capitalize;
          font-size: 14px;
        }
      }

      .list {
        ul {
          padding: 10px 40px;
          list-style: none;
          li {
            font-size: 14px;
          }
        }
        h3 {
          background-color: $border_color;
          padding: 10px 50px;
          width: 100%;
          color: white;
        }
      }

      .list-moves {
        ul {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: wrap;
          padding: 10px 40px;
          li {
            width: 10%;
            min-width: 200px;
            font-size: 14px;
            padding: 2px;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 960px) {

  .inner {
    height: 90vh !important;
    width: 90vw !important; 
    .pokemon-details {
      .pokemon-image-text {
        padding: 2px !important;
        flex-direction: column !important;
        .image, .no-image {
          margin-left: 40px;
        }
      }
    }
  }

}