.pokemons-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pokemon {
  position: relative;
  width: 25%;

  .pokemon-img-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    min-height: 160px;
    background-color: #FAFAFA;
    border: 3px solid $border_color;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    .name {
      width: 100%;
      background-color :$border_color;
      color: white;
      text-align: center;
      padding: 10px;
      font-size: 12px;
      transition: all 0.4s ease-in-out;
      text-transform: capitalize;
    }
    .image {
      width: 140px;
      height: 120px;
    }
    .no-image {
      max-width: 80px;
      margin: 20px;
    }
    &:hover {
      .name{
        background-color :$border_color_hover;
      }
    }
  }
  
}


@media screen and (min-width: 481px) and (max-width: 960px) {
  .pokemon {
    width: 33.3%;
  }
}

@media screen and (max-width: 480px) {
  .pokemon {
    width: 50%;
  }
}