html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  button,
  input,
  select,
  textarea {
    -webkit-tap-highlight-color: rgba(82, 82, 82, 0.1);
  }

}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  outline: none;
}

html, body {
  height: 100%;
}
#app {
  min-height: 100vh;
}

.white-text {
  color:#FAFAFA;
}
.lightgray-text {
  color:#DDD;
}
.letter-spacing-1 {
  letter-spacing: 1px;
}
.letter-spacing-2 {
  letter-spacing: 2px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.smaller-text {
  font-size: 11px;
  line-height: 16px;
}
.bold {
  font-weight: bold;
}
.ligth-weight {
  font-weight: 200;
}
.max-250 {
  max-width: 300px;
  text-align: center;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.space-around {
  justify-content: space-around;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-width {
  max-width: 1080px;
  margin: 0 auto;
}
.loader {
  padding: 30px;
}